@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{
    font-family: 'Roboto',sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg,#696eff,#f8acff);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 500px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.062);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);    
}

.relogio div{
    height: 180px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background: rgba(5,5,5,0.6);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);;
    border-radius: 10px;
    letter-spacing:3px ;
}

.relogio div > span#hora,
.relogio div > span#minuto,
.relogio div > span#segundo{
    font-size: 2rem;
    font-weight: bold;

}

